---
import { eq } from "astro:db";
import { db, Note } from "astro:db";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Link from "../../components/Link.astro";
import Webmentions from "../../components/Webmentions.svelte";

import dayjs from "dayjs";
const { slug } = Astro.params;

const notes = await db.select().from(Note).where(eq(slug, Note.published))

const note = notes[0];

---

<BaseLayout
  title={note.content.substring(0, 10) + "..."}
  description={note.content}
>
  <nav class="flex text-xl my-2 font-medium font-serif justify-between">
    <Link href="/">home/</Link>
    <Link href="/posts">posts/</Link>
    <Link href="/about">about/</Link>
  </nav>

  <article
    class="px-4 py-2 space-y-4 border-amber-800 border-[1px] rounded-sm bg-[#f2f1e9]"
  >
    <div class="flex items-start gap-3">
      <img src="/yusuf.jpg" width="65" class="rounded-md" />
      <p class="text-xl">{note.content}</p>
    </div>
    <div>
      <time class="text-sm" datetime={dayjs(note.published).toISOString()}>
        {
        dayjs(note.published).format("ddd, D MMM, YYYY, HH:mm")
        }
      </time>
    </div>
  </article>
  <Webmentions urlSlug={"posts/" + slug} client:load />
</BaseLayout>
