---
import { db, Note } from "astro:db";
const notes = await db.select().from(Note).orderBy(desc(Note.published));
import BaseLayout from "../../layouts/BaseLayout.astro";
import Link from "../../components/Link.astro";
import { desc } from "astro:db";
import dayjs from "dayjs";
---

<BaseLayout title="notes!" description="Yusuf's note hub">
  <nav class="flex text-xl my-2 font-medium font-serif justify-between">
    <Link href="/">home/</Link>
    <Link href="/posts">posts/</Link>
    <Link href="/about">about/</Link>
  </nav>
  <main class="space-y-3">
    {
      notes.map((note) => (
        <article class="px-4 py-2 space-y-4 border-amber-800 border-[1px] rounded-sm bg-[#f2f1e9]">
          <div class=" flex items-start gap-3">
            <img src="/yusuf.jpg" width="65" class="rounded-md" />
            <p class="text-xl">{note.content}</p>
          </div>
          <div>
            <a
              class="text-amber-900 font-medium underline underline-offset-2 decoration-amber-800/30 hover:decoration-amber-800"
              href={"/notes/" + note.published}
            >
              <time
                class="text-sm"
                datetime={dayjs(note.published).toISOString()}
              >
                {dayjs(note.published).format("ddd, D MMM, YYYY, HH:mm")}
              </time>
            </a>
          </div>
        </article>
      ))
    }
  </main>
</BaseLayout>
