---
import PageLayout from "../layouts/PageLayout.astro";
import Nav from "../components/Nav.astro";
---

<PageLayout
  title="404 Not Found"
  description="The page you're looking for was not found"
>
  <Nav />
  <div
    class="h-[calc(100vh-266px-28px)] flex-col flex justify-center items-center"
  >
    <h1 class="md:text-9xl text-7xl font-black w-fit mx-auto">404</h1>
    <p class="md:text-2xl text-center mt-6 text-lg mb-7">
      You wanted something,<br />
      We looked everywhere,<br />
      But it's nowhere to be found.<br/>

    </p>

  </div>
</PageLayout>
