---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../style//global.css";
---

<BaseLayout
  title="Yusuf Bouzekri's Resume"
  description="My resume in HTML form"
>
  <main class="font-serif max-w-2xl mt-6 text-lg">
    <!-- <a -->
    <!--   href="/" -->
    <!--   class="block text-amber-800 underline underline-offset-2 decoration-2 font-bold print:hidden" -->
    <!--   >Back to main site</a -->
    <!-- > -->
    <div class="flex gap-3 items-center">
      <!-- <img
        src="https://avatars.githubusercontent.com/u/77839865?v=4"
        class="w-16"
        alt="Yusuf's Image"
      /> -->
      <div class="flex flex-col justify-between">
        <h1 class="text-4xl font-display font-extrabold">Yusuf Bouzekri</h1>
        <section>
          <div class="flex gap-1">
            <p class="select-all">yusufbouzekri@gmail.com</p>
            <span>•</span>
            <p class="select-all">+216 53 484 441</p>
            <span>•</span>
            <span>Ben Arous, Tunisia</span>
            <span>•</span>
            <a
              href="https://linkedin.com/in/yusuf-bouzekri"
              class="text-amber-800 underline-offset-2 underline">Linkedin</a
            >
            <span>•</span>
            <a
                href="https://github.com/spcbfr"
              class="text-amber-800 underline-offset-2 underline">GitHub</a
            >
            <!-- <span>•</span>
          <a
            href="/portfolio"
            class="text-amber-800 font-bold underline-offset-2 underline decoration-2"
            >Portfolio</a
          > -->
          </div>
        </section>
      </div>
    </div>
    <section class="mt-3">
      <h2
        class="font-smallcaps text-xl font-bold border-b border-stone-300 mb-3"
        >Work Experience</h2
      >
      <div class="space-y-3">
        <article>
          <div class="justify-between flex items-baseline">
            <h3 class="font-semibold text-xl">LeadWizard</h3>
            <p>November 2025 – Present</p>
          </div>
          <div class="italic justify-between flex items-baseline">
            <p>Software Engineer</p>
            <p>Remote</p>
          </div>
          <ul class="list-disc list-inside">
            <li>Leading the development of a lead distribution app to collect and route leads to the most eligible buyer.</li>
            <li>Built the financial dashboard to generate and keep track of partner invoices.</li>
            <li>Re-wrote the theme from the ground-up to align more with our vision and follow UX standards.</li>
          </ul>
        </article>
        <article>
          <div class="justify-between flex items-baseline">
            <h3 class="font-semibold text-xl">CNFCPP</h3>
            <p>October 2024 – February 2025</p>
          </div>
          <div class="italic justify-between flex items-baseline">
            <p>Software Engineer</p>
            <p>Contract • Rades</p>
          </div>
          <ul class="list-disc list-inside">
            <li>
              Built a portal to manage students and accept payment through the
              Mastercard API.
            </li>
            <li
              >Developed a performant system to generate thousands of student certifications.</li
            >
            <li
              >Developed a fraud detection feature to identify students
              enrolling in incompatible courses.</li
            >
          </ul>
        </article>
        <article>
          <div class="justify-between flex items-baseline">
            <h3 class="font-semibold text-xl">Highscale</h3>
            <p>June – August 2023</p>
          </div>
          <div class="italic justify-between flex items-baseline">
            <p>Software Engineering Trainee</p>
            <p>Internship • Tunis</p>
          </div>
          <ul class="list-disc list-inside">
            <li
              >Implemented the backend for highscale's SMS and Email marketing
              services.</li
            >
            <li
              >Tested multiple SMS & email providers to find the provider with
              the best developer experience for the lowest price.
            </li>
            <li
              >Wrote the first version of <em>superagents</em>, an all-in-one
              project management web app. written in Flask (backend) and Next.JS
              (frontend).
            </li>
          </ul>
        </article>
      </div>
    </section>

    <section class="mt-3">
      <h2
        class="font-smallcaps text-xl font-bold border-b border-stone-300 mb-3"
        >Certifications & Skills</h2
      >
      <div class="space-y-3">
        <article>
          <ul class="list-disc list-inside">
              <li><strong>Languages & Tools</strong>: PHP, Laravel, Go, Git, Linux </li>
            <li
                    ><strong>Skills</strong>: Full-stack developement, Systems Administration,
              Technical writing, Communication.
            </li>
            <li
              ><strong>Certifications</strong>: Just Javascript, MySQL for
              Developers, Computer Forensics by RITx, JavaScript Algorithms and
              Data Structures, Certified in Cybersecurity by ISC2, Cybersecurity
              Fundamentals by RITx.
            </li>
          </ul>
        </article>
      </div>
    </section>

    <section class="mt-3">
      <h2
        class="font-smallcaps text-xl font-bold border-b border-stone-300 mb-3"
        >Education</h2
      >
      <div class="space-y-3">
        <article>
          <ul class="list-disc list-inside">
            <div class="justify-between flex items-baseline">
              <h3 class="font-semibold text-xl">Tunis Business School</h3>
              <p>2025 – 2029</p>
            </div>
            <div class="italic justify-between flex items-baseline">
              <p>Bacholar of Business Administration</p>
              <p>Tunis</p>
            </div>
            <p>
              <!-- <ul class="list-disc list-inside"> -->
              <!--     <li>Joined the leading Computer Science Club MERIT as an External Relations Member, where I negociated deals with potential sponsors</li> -->
              <!--     <li>Took Computer Science, Management and English courses</li> -->
              <!-- </ul> -->
            </p>
          </ul>
        </article>
      </div>
    </section>
  </main>
</BaseLayout>
