---
const props = Astro.props;
---

<div class="!mt-0">
  {
    props.title ? (
      <div class="bg-stone-700 px-2 text-white w-fit p-1 rounded-lg font-smallcaps relative left-7 font-bold top-4  ">
        {props.title}
      </div>
    ) : null
  }
  <div
    class="bg-orange-100 border-l-[5px] text-amber-950 [&>p]:!text-lg text-lg leading-snug [&>p]:font-serif border-y-2 border-r-2 border-stone-600 px-5 pt-5 pb-3 rounded-lg"
  >
    <slot />
  </div>
</div>
