---
const props = Astro.props;
---

<div class="!mt-0">
  {
    props.title ? (
      <div class="dark:bg-sage-900 px-2 text-white w-fit p-1 rounded-lg font-smallcaps relative left-7 font-bold top-4  ">
        {props.title}
      </div>
    ) : null
  }
  <div
    class="[&>p]:!text-lg dark:bg-sage-950 text-lg bg-orange-50 [&>p]:font-serif border-2 border-stone-600 px-5 pt-5 pb-3 rounded-lg"
  >
    <slot />
  </div>
</div>
