---
import { Image } from "astro:assets";
import bowling from "../assets/bowling.png";
import Link from "../components/Link.astro";
---

<footer class="font-serif mt-16 mb-2 text-center print:hidden">
	<div class="sm:text-xl text-lg mb-2 flex justify-between">
		<Link href="/rss.xml">RSS/</Link>
		<Link href="/now">now/</Link>
		<Link href="/about">about/</Link>
	</div>
	<div>
		<Image
			src={bowling}
			width={160}
			class="mb-2 sm:w-auto w-32 mx-auto"
			alt="Bowling ball striking"
		/>
		<p class="font-smallcaps text-sm">
			(get-decoded-time) &copy; Yusuf Bouzekri
		</p>
	</div>
</footer>
