---
import Link from "../components/Link.astro";
---

<nav class="flex text-xl my-2 font-medium font-serif justify-between">
	<Link href="/">home/</Link>
	<Link href="/posts">posts/</Link>
	<Link href="/about">about/</Link>
</nav>
