<div class="relative">
  <aside
    class="absolute hidden xl:block -top-10 -right-[53%] w-1/2 rounded-lg [&>p]:!text-base p-4 box-border"
  >
    <!-- Content for the aside -->
    <slot />
  </aside>
</div>
