---
import "@fontsource-variable/vollkorn";
import "@fontsource/rakkas";
import "@fontsource/ibm-plex-mono";
import BaseHead from "../components/BaseHead.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import bowling from "../assets/bowling.png";
interface Props {
  title: string;
  description: string;
  ogImage?: string;
}
const props = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
  <BaseHead {...props} />
  <body
    class="flex flex-col min-h-full items-center justify-center bg-[#faf9f5]"
  >
    <main class="xl:w-1/3 pb-10 flex-grow lg:w-1/2 w-3/4 font-serif">
      <slot />
    </main>

    <footer class="font-serif mb-5 text-center">
      <div class="text-xl mb-2 flex justify-between">
        <Link href="/rss.xml">RSS/</Link>
        <Link href="/now">now/</Link>
        <Link href="/about">about/</Link>
      </div>
      <div>
        <Image
          src={bowling}
          width={160}
          class="mb-2 mx-auto"
          alt="Bowling ball striking"
        />
        <p class="font-smallcaps">Carbon::now() &copy; Yusuf Bouzekri</p>
      </div>
    </footer>
  </body>
</html>
