---
import "@fontsource-variable/vollkorn";
import "@fontsource/rakkas";
import "@fontsource/ibm-plex-mono";
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang="en" class="h-full">
  <BaseHead title="Home" description="Blog about romance and science" />
  <body class="h-full flex justify-center bg-[#faf9f5]">
    <main class="xl:w-1/3 lg:w-1/2 w-3/4 h-full">
      <slot />
    </main>
  </body>
</html>
