---
import BaseHead from "../components/BaseHead.astro";
const props = Astro.props

interface Props {
  title: string,
  description: string
}
---

<!doctype html>
<html lang="en" >
  <BaseHead {...props} />
  <body class="flex flex-col items-center justify-center dark:bg-[#1B180E] bg-[#faf9f5]">
    <slot />
  </body>
</html>
