---
import BaseHead from "../components/BaseHead.astro";
const props = Astro.props

interface Props {
  title: string,
  description: string
}
---

<!doctype html>
<html lang="en" >
  <BaseHead {...props} />
  <body class="flex selection:bg-amber-800 selection:text-amber-50 flex-col items-center justify-center bg-[#faf9f5]">
    <slot />
  </body>
</html>
