---
import "../style/global.css";
import BaseHead from "../components/BaseHead.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import bowling from "../assets/bowling.png";
let { title, pubDate, description, slug } =
  Astro.props.frontmatter || Astro.props;
if (typeof pubDate == "string") {
  pubDate = new Date(pubDate);
}
---

<!doctype html>
<html lang="en" class="h-full">
  <BaseHead title={title} description={description} />
  <body
    class="flex flex-col min-h-full items-center justify-center bg-[#faf9f5]"
  >
    <main class="xl:w-1/3 pb-10 flex-grow lg:w-1/2 w-3/4 font-serif">
      <nav class="flex text-xl my-2 font-medium font-serif justify-between">
        <Link href="/">home/</Link>
        <Link href="/posts">posts/</Link>
        <Link href="/about">about/</Link>
      </nav>
      <div class="flex mt-8 justify-between items-center">
        <p></p>
        <p class="text-lg font-bold">
          {
            pubDate.toLocaleDateString("en-US", {
              weekday: "long",
              month: "short",
              day: "numeric",
              year: "numeric",
            })
          }
        </p>
      </div>
      <h1 class="text-5xl mb-5 mt-3 font-display">{title}</h1>

      <article class="prose space-y-5">
        <slot />
      </article>
      <div class="flex gap-3 mt-4">
        <a
          href={"https://news.ycombinator.com/submitlink?t=" +
            encodeURIComponent(title) +
            "&u=" +
            encodeURIComponent("https://yusuf.fyi/posts/" + slug)}
          class="text-white text-lg font-semibold bg-black p-2 pb-1 block w-fit mt-3"
          >Share on Hackernews</a
        >

        <a
          href="https://ko-fi.com/spacebuffer"
          class="bg-amber-700 text-lg font-semibold text-white p-2 pb-1 block w-fit mt-3"
          >Donate on Ko-fi</a
        >
      </div>
    </main>
    <footer class="font-serif mb-5 text-center">
      <div class="text-xl mb-2 flex justify-between">
        <Link href="/rss.xml">RSS/</Link>
        <Link href="/now">now/</Link>
        <Link href="/about">about/</Link>
      </div>
      <div>
        <Image
          src={bowling}
          width={160}
          class="mb-2 mx-auto"
          alt="Bowling ball striking"
        />
        <p class="font-smallcaps">Carbon::now() &copy; Yusuf Bouzekri</p>
      </div>
    </footer>
  </body>
</html>
