---
import "../style/global.css";
import BaseHead from "../components/BaseHead.astro";
import Link from "../components/Link.astro";
let { title, pubDate, description } = Astro.props.frontmatter || Astro.props;
if (typeof pubDate == "string") {
  pubDate = new Date(pubDate);
}
---

<!doctype html>
<html lang="en" class="h-full">
  <BaseHead title={title} description={description} />
  <body class="h-full flex justify-center bg-stone-50">
    <main class="w-1/3 font-serif h-full">
      <nav
        class="flex text-xl my-2 font-medium underline font-serif justify-between"
      >
        <Link href="/posts">posts/</Link>
        <Link href="/about">about/</Link>
        <Link href="/now">now/</Link>
      </nav>
      <div class="flex mt-8 justify-between items-center">
        <a
          href="/"
          class="font-bold text-lg bg-stone-900 text-white px-3 py-1 max-w-fit"
          onclick="history.back()"
        >
          Back
        </a>
        <p class="text-lg font-bold">
          {
            pubDate.toLocaleDateString("en-US", {
              weekday: "long",
              month: "short",
              day: "numeric",
              year: "numeric",
            })
          }
        </p>
      </div>
      <h1 class="text-5xl mb-5 mt-3 font-display">{title}</h1>

      <article class="prose space-y-5">
        <slot />
      </article>
    </main>
  </body>
</html>
